@import 'variables.css';
:root {
  --example-font-size: 32px;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  font-size: var(--font-size);
  line-height: 1.5;
  color: var(--color-default-fg);
}

.container {
  margin: 16px;
  padding: 16px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  margin: 16px;
  padding: 16px;
  width: 100%;
  max-width: 732px;
}

.container.fixed {
  width: 732px;
}

.target {
  color: var(--color-default-fg);
  line-height: 1.5;
  letter-spacing: normal;
  font-kerning: none;
  font-variant-ligatures: none;
  font-size: var(--example-font-size);
}

/* Make sure nested elements have same font size */
.target > * {
  font-size: inherit !important;
  line-height: inherit !important;
}

/***************************************
Buttons and Links  
****************************************/

.target a {
  text-decoration: none;
}

.target a:hover,
.target a:active,
.target a:visited {
  text-decoration: underline;
}

.target a {
  color: var(--color-accent-fg);
}

.target a:hover,
.target a:active {
  transition: all 100ms ease-in-out;
  color: var(--color-accent-dark-fg);
}

.target button {
  display: inline-flex !important;
  align-items: center;
  justify-content: center;
  font-kerning: none;
  appearance: none;
  cursor: pointer;
  outline: none;
  color: var(--color-accent-fg);
  border: solid 1px var(--color-accent-fg);
  padding: 4px 10px;
  border-radius: 6px;
  font-size: inherit;
  background: none;
  line-height: inherit;
}

.target button:hover {
  background: var(--color-accent-fg);
  transition: all 100ms ease-in-out;
  color: #fff;
}

.target strong {
  color: var(--color-secondary-fg);
}

.target code {
  font-family: Courier;
  color: var(--color-code-fg);
}
